/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --accent-color:  #ff0070;
  --accent-text-color: #000028;
  --accent-decoration-color: #ff0070;
  --section-title-color: #ff0070;
  --main-text-color: #f1b2ce;
  --logo-color: #db00ff;
  --background-theme: url(../images/cover-image-dark.png);
  --hover-color: rgba(255, 0, 112, 0.4);
  --background-color: #000028;
}

.page.theme_dark .header__rec {
  display: block;
}