/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
.page.theme_light {
  --accent-color: #ff8dcb;  
  --accent-text-color: #353430;
  --accent-decoration-color: #353430;
  --section-title-color: #353430;
  --main-text-color: #353430;
  --logo-color: #ffc2e6;
  --background-theme: url(../images/cover-image-light.png);
  --hover-color: rgba(50, 49, 45, 0.4);
  --background-color: #fff1f7;
}

.page.theme_light .header__rec {
  display: none;
}

@media (prefers-color-scheme: light) {
   .page {
    --accent-color: #ff8dcb;  
    --accent-text-color: #353430;
    --accent-decoration-color: #353430;
    --section-title-color: #353430;
    --main-text-color: #353430;
    --logo-color: #ffc2e6;
    --background-theme: url(../images/cover-image-light.png);
    --hover-color: rgba(50, 49, 45, 0.4);
    --background-color: #fff1f7;
    }

  .header__rec {
    display: none;
  }
}
