/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.page {
  background-color: var(--background-color);
  background-image: var(--background-theme);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: grid;
  gap: clamp(2.5rem, 1.3073rem + 5.0891vw, 3.75rem);
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  width: 100vw;
  height: 100vh;
  padding: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
  min-height: 668px;
}

@media (width > 767px) {
  .header {
    min-height: 1024px;
  }
}

@media (width > 1023px) {
  .header {
    min-height: 768px;
  }
}

.decorated-zone::before {
  content: "";
  border-right: 1px solid var(--accent-decoration-color);
  border-top: 1px solid var(--accent-decoration-color);
  width: 25px;
  height: 24px;
  position: absolute;
  inset-block-start: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
  inset-inline-end: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
}

.decorated-zone::after {
  content: "";
  border-bottom: 1px solid var(--accent-decoration-color);
  border-left: 1px solid var(--accent-decoration-color);
  width: 25px;
  height: 25px;
  position: absolute;
  inset-block-end: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
  inset-inline-start: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
}

.header__rec {
  position: absolute;
  display: block;
  margin-block-start: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
  right: clamp(1.1875rem, 0.5911rem + 2.5445vw, 1.8125rem);
}

.header__rec::before {
  content: "rec";
  font-family: IBM Plex Mono, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 139%;
  text-align: center;
  color: var(--accent-decoration-color);
  text-transform: uppercase;
}

.header__rec::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 100%;
  margin-inline-start: 10px;
  background-color: var(--accent-decoration-color);
  box-shadow: 0 0 4px 2px var(--accent-decoration-color);
}

.header__theme-menu {
  display: grid;
  align-content: center;
  justify-content: end;
}

@media (width > 1023px) {
  .header__theme-menu {
    align-content: space-between;
    justify-content: center;
  }
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (width > 1023px) {
  .header__theme-menu-list {
    flex-direction: row;
  }
}

.header__theme-menu-button {
  border: none;
  font-family: IBM Plex Mono, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  color: var(--accent-decoration-color);
  background-color: transparent;
  padding: 0px 13px;
  inline-size: 70px;
  block-size: 26px;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--hover-color);
  cursor: pointer;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--accent-decoration-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-decoration-color);
  pointer-events: none;
}

.header__title {
  font-family: IBM Plex Mono, sans-serif;
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--accent-color);
  color: var(--logo-color);
}

@media (width > 767px) {
  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-inline-start: -20px;
  }
}

.header__title-container {
  justify-self: end;
  inline-size: clamp(22.1875rem, 21.6508rem + 2.2901vw, 22.75rem); 
  padding-block-start: clamp(3.4375rem, -2.9437rem + 27.2265vw, 10.125rem);
}

@media (width > 767px) {
  .header__title-container {
    justify-self: end;
    inline-size: clamp(22.75rem, -1.0625rem + 49.6094vw, 30.6875rem);
    padding-block-start: clamp(114px, calc(162px - (48 * ((100vw - 768px) / 256))), 162px);
  }
}

.header__title-text {
  font-family: IBM Plex Mono, sans-serif;
  font-weight: 700;
}

.title-decor {
  font-size: 18px;
  color: var(--accent-text-color);
  background-color: var(--accent-color);
}

.content {
  display: grid;
  gap: clamp(3.125rem, 1.3359rem + 7.6336vw, 5rem);
  padding: 0 clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
  margin-block-start: 0px;
}

.section {
  display: grid;
  gap: 20px;
}

@media (width > 767px) {
  .section-why {
    grid-template-columns: 1fr 2fr;
  }
}

@media (width > 1023px) {
  .section-why {
    grid-template-columns: 1fr 2.07fr;
  }
}

@media (width > 767px) {
  .section__title-what {
    max-inline-size: 236px;
  }
}

@media (width > 1023px) {
  .section-list-what {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .section__title-what {
    max-inline-size: 315px;
  }
}

@media (width > 767px) {
  .section-how {
    grid-template-columns: 1fr 2fr;
  }
}

@media (width > 1023px) {
  .section-how {
    grid-template-columns: 1fr 2.07fr;
  }
}

.section__title {
  font-family: IBM Plex Mono, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: var(--section-title-color);
}

.section-list {
  display: grid;
  gap: 20px;
}

.card-title {
  font-family: IBM Plex Mono, sans-serif;
  font-weight: 700;
  line-height: 130%;
}

.card-description {
  font-family: IBM Plex Mono, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: var(--main-text-color);
  margin-block-start: 10px;
}

.card-description-link {
  text-decoration: none;
  text-shadow: 1px 3px 0 var(--accent-color);
  position: relative;
}

.card-description-link:hover {
  text-decoration: none;
  cursor: pointer;
  text-decoration-skip-ink: none;
}

.card-description-link:hover::before {
  content: "";
  position: absolute;
  inline-size: 100%;
  block-size: 1px;
  inset-inline-start: 0;
  inset-block-end: -1px;
  background-color: currentColor;
  transform: scaleX(1);
  transition: transform 0.3s ease;
  pointer-events: none;
}

.card-description-link:focus {
  outline: none;
}

.card-description-link:focus-visible {
  border: 1px solid var(--main-text-color);
}

.section-list-title {
  margin-block-end: 20px;
}

.card-title-second {
  font-family: IBM Plex Mono, sans-serif;
  font-weight: 400;
  line-height: 130%;
}

.section-images {
  display: grid;
  gap: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
}
.section__title-images {
  color: var(--accent-text-color);
}

.images-list {
  display: grid;
  max-width: 100vw;
  gap: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
}

@media (width > 767px) {
  .images-list {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .images-list-item:nth-child(1) {
    grid-column: 1 / 3;
  }
  
  .images-list-item:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }
  
  .images-list-item:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }
  
  .images-list-item:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  
  .images-list-item:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }
}

.image {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  display: block;
}

.footer {
  display: grid;
  align-content: center;
  justify-items: center;
  position: relative;
  width: 100vw;
  height: 100vh;
  padding: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
  min-height: 668px;
  margin-block-end: calc(-1 * clamp(2.5rem, 1.3073rem + 5.0891vw, 3.75rem));
}

@media (width > 767px) {
  .footer {
    min-height: 1024px;
  }
}

@media (width > 1023px) {
  .footer {
    min-height: 768px;
  }
}

.footer__title {
  font-family: IBM Plex Mono, sans-serif;
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem); 
  line-height: 83%;
  color: var(--logo-color);
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (width > 767px) {
  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

.decorated-zone::before {
  content: "";
  border-right: 1px solid var(--accent-decoration-color);
  border-top: 1px solid var(--accent-decoration-color);
  width: 25px;
  height: 24px;
  position: absolute;
  inset-block-start: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
  inset-inline-end: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
}

.decorated-zone::after {
  content: "";
  border-bottom: 1px solid var(--accent-decoration-color);
  border-left: 1px solid var(--accent-decoration-color);
  width: 25px;
  height: 25px;
  position: absolute;
  inset-block-end: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
  inset-inline-start: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
}